@using QuizSystem.ViewModels.TagViewModel;
@using DAL.Interfaces
@inject ITagRepository _tagRepository

@{
    var tags = await _tagRepository.GetAllTags();

    var tagVM = new TagViewModel();

    var checkboxes = new List<CheckedTagViewModel>();
    foreach (var tag in tags)
    {
        checkboxes.Add(new CheckedTagViewModel() { Description = tag.Description, IsActive = false, TagId = tag.TagId });
    }

    tagVM.CheckedTags = checkboxes;
}

@foreach(var tag in tagVM.CheckedTags)
{
    <button type="button" class="btn btn-outline-success btn-rounded" data-mdb-ripple-color="dark">
        @tag.Description
    </button>
}

@*<form id="tag-form" method="post" enctype="multipart/form-data">
    <h6>Available tags: </h6>

    @foreach (var tag in tagVM.CheckedTags)
    {
        <div class="form-check">
            <input class="form-check-input"
                   type="checkbox"
                   value="@tag.TagId"
                   name="ResponsibleUsers"
                   id="checkbox_@tag.TagId"
                   checked="@tag.IsActive">
            <label class="form-check-label" for="checkbox_@tag.TagId">
                @tag.Description
            </label>
        </div>
    }*@
@*    <hr />
    <div class="form-row form-group">
        <div class="col">
            <input class="btn btn-block btn-success btn-lg" type="submit" value="Create " />
        </div>
    </div>*@

